/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
  
.navbar li {
    position: relative;   
}
  
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #fff;  
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 500;
}
  
.navbar a i, .navbar a:focus i {
    font-size: 18px;
    line-height: 0;
    margin-right: 5px;
} 
  
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 255, 255), 
              0 0 10px rgb(255, 255, 255), 
              0 0 15px rgb(255, 255, 255), 
              0 0 20px rgb(255, 17, 119), 
              0 0 35px rgb(255, 17, 119), 
              0 0 40px rgb(255, 17, 119), 
              0 0 50px rgb(255, 17, 119), 
              0 0 75px rgb(255, 17, 119);
}
  
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 1024;
    opacity: 0;
    visibility: hidden;
    background: rgba(33, 164, 245, 0.8);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
  
.navbar .dropdown ul li {
    min-width: 200px;
}
  
.navbar .dropdown ul a {
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
}
  
.navbar .dropdown ul a i {
    font-size: 18px;
    line-height: 0;
}
  
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 255, 255), 
              0 0 10px rgb(255, 255, 255), 
              0 0 15px rgb(255, 255, 255), 
              0 0 20px rgb(255, 17, 119), 
              0 0 35px rgb(255, 17, 119), 
              0 0 40px rgb(255, 17, 119), 
              0 0 50px rgb(255, 17, 119), 
              0 0 75px rgb(255, 17, 119);
  
    background: #1977cc;
    border: 2px solid #1977cc;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    text-transform: uppercase;
  
}
  
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
  
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
  
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}


.navbar-mobile {

    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 1024;
} 
  
  
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
  
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
  
.navbar-mobile > ul > li {
    padding: 0;
}
  
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}
  
.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #060c22;
    outline: none;
}
  
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #1977cc;
}
  
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 5px rgb(255, 255, 255), 
              0 0 10px rgb(255, 255, 255), 
              0 0 15px rgb(255, 255, 255), 
              0 0 20px rgb(255, 17, 119), 
              0 0 35px rgb(255, 17, 119), 
              0 0 40px rgb(255, 17, 119), 
              0 0 50px rgb(255, 17, 119), 
              0 0 75px rgb(255, 17, 119);
    /*background: rgba(0, 0, 0, 0.9);*/
    background: #1977cc;
    border: 2px solid #1977cc;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    text-transform: uppercase;
  
}
  
 
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 18px;
    line-height: 0;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #1977cc;
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}
